params {
    // Default threads
    threads = 8
}

profiles {
    docker {
        docker.enabled = true
        process.container = 'mbyott/leishmania_speciation:v1.2'
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}

process {
    // Resource labeling
    withLabel:process_low {
        cpus   = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
    }

    errorStrategy = 'retry'
    maxRetries    = 1
}