params {
    // Default threads
    threads = 8
}

profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        
        // Use the same container we built for Speciation to save space/time
        process.container      = 'mbyott/leishmania_speciation:latest' 
    }
}

process {
    // Resource labeling
    withLabel:process_low {
        cpus   = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 4 * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
    }

    errorStrategy = 'retry'
    maxRetries    = 1
}